{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>{{ event.activity.name }}</h1>
    <p>{{ event.description }}</p>
    <p>Date: {{ event.date }}</p>
    <p>Time: {{ event.time }}</p>
    <p>Location: {{ event.location.name }}</p>
    <h3>Participants:</h3>
    <ul>
        {% for participant in event.participants.all %}
            <li>{{ participant.username }}</li>
        {% endfor %}
    </ul>

    {% if user_is_creator %}
        <p>You are the creator of this event.</p>
        <form action="{% url 'delete_event' event.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete event</button>
        </form>
    {% else %}
        {% if user in event.participants.all %} 
            <a href="{% url 'leave_event' event.pk %}" class="btn btn-danger">Leave event</a>
        {% else %}
            <a href="{% url 'join_event' event.pk %}" class="btn btn-primary">Join event</a>
        {% endif %}
    {% endif %}
   
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="mt-4">
        </div>
    
    <div class="mt-4">
        <a href="{% url 'events_list' %}?location={{ user_city }}" class="btn btn-secondary">Events in my city</a>
        <a href="{% url 'events_myevents' %}" class="btn btn-secondary">My events</a>
        <a href="{% url 'events_participating' %}" class="btn btn-secondary">Events I joined</a>
        <a href="{% url 'create_event' %}" class="btn btn-secondary">Create event</a>

    </div>
</div>
{% endblock %}
