{% extends "base.html" %}

{% block title %}Profile Page{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }}" style="width: 150px; height: 150px; object-fit: cover; cursor: pointer;">
        </div>
        <div class="col-md-8">
            {% if user_form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <div class="form-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        {{ user_form.username }}
                    </div>
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Email</label>
                        {{ user_form.email }}
                        
                     <div class="mb-3">
                    <a href="{% url 'password_change' %}" class="btn btn-link mb-3">Change Password</a>
                    </div>
                    <div class="mb-3">
                        <label for="id_avatar" class="form-label">Change Avatar</label>
                        {{ profile_form.avatar }}
                    </div>
                    <div class="mb-3">
                        <label for="id_bio" class="form-label">Bio</label>
                        {{ profile_form.bio }}
                    </div>
                    <div class="mb-3">
                        <label for="id_city" class="form-label">City</label>
                        {{ profile_form.city }}

                    </div>


                    <h4 class="mt-4">Preferred Activities</h4>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.activity.id_for_label }}" class="form-label">{{ form.activity.label }}</label>
                                {{ form.activity }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.skill_level.id_for_label }}" class="form-label">{{ form.skill_level.label }}</label>
                                {{ form.skill_level }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                                    <h4 class="mt-5">Current Preferred Activities</h4>
                <ul class="list-group">
                    {% for profile_activity in user.profile.profileactivity_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Activity: {{ profile_activity.activity.name }} - Level: {{ profile_activity.skill_level }}
                        <form method="post" action="{% url 'delete-activity' profile_activity.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No preferred activities listed.</li>
                    {% endfor %}
                </ul>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
                        <button type="reset" class="btn btn-secondary btn-lg">Reset</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
{% endblock content %}

